<html>
<head></head>
<body>
<h1>Trip App</h1>

<form method = 'POST' action = '/add-trip'>
<input type="text" placeholder="Trip Name" name="tripTitle" />
<input type="text" placeholder="Image URL" name="imageURL" />
<input type="text" placeholder="City" name="city" />
<label for="depart">Departure date:</label>
<input type="date" id="depart" name="departureDate" min="2059-01-01" max="2029-12-25" />
       <label for="return">Return date:</label>
<input type="date" id="return" name="returnDate" min="2022-01-01" max="2059-12-31" />
<button>Submit</button>
</form>



</body>
</html>