<html>
<head></head>
<body>
<h1>View All Trips</h1>
<div>
{{#allTrips}}
<div><img src="{{image}}" width="30%"><br><br>{{title}} - {{city}} - Departure Date: {{departureDate}} - Return Date: {{returnDate}}
<br><br>
<form method='GET' action = '/update-trip/{{tripId}}'><button>Update</button></form>
</div>
{{/allTrips}}
</div>
<br>
<form method = 'GET' action = '/add-trip'>
<button>Add another trip</button>
</form>
</body>
</html>