<html>
    <head>
     <link rel = "stylesheet" href = "/css/styles.css" />
    </head>
    
    <body>
        <div class="topnav">
  <a class="active" href="#/index">Home</a>
  <a href="/create-account">Create Account</a>
  <a href="/login">Login</a>
  <a href="view-post">View Your Posts</a>
</div>
        <h1>Login</h1>


        <form method="POST" action="/login">
            <input type="text" placeholder='Username' name="usernameText" />
            <input type="password" placeholder= 'Password'name="passwordText" />
            <button>Login</button>
        </form>

        {{errorMessage}}

        
    </body>
</html>