<html>
<head></head>
<body>
<h1>Where do you want to go?</h1>
<form method = 'GET' action = '/add-trip'>
<button>Add a Trip</button>
</form>
<form method = 'GET' action = '/view-trips'>
<button>View All Trips</button>
</form>
</body>
</html>