
<html>
    <head>
    <link rel = "stylesheet" href = "/css/styles.css" />
    </head>
    <body>
    <body>
    <form method= "post" action= '/logout'>
    <div class="topnav">
      <a class="active" href='/movies'>MovieDb</a>
      <a href= "/movies/add-movie">Add a Movie</a>
      <a href="/movies/movie-details">Movie Details</a>
      <div class ="topnav-right">
      <a href="/logout" class = "buttons">Logout</a>
      </div>
</div>
</form>
</div>
</form>
        <h1>Add a Movie</h1>

        <form method = "POST" action = "/create-movie">
            Movie Name:
            <input type = "text" placeholder= 'Movie Name' name="movieName" />
            Description:
            <input type = "text" placeholder= 'Description' name="movieDescription" />
            Genre:
           <input type = "text" placeholder= 'Genre' name="movieGenre" />
            Movie Poster Url:
           <input type = "text" placeholder= 'Poster URL' name="posterUrl" />
            <button>Submit</button>
        </form>

          <ul class= 'movieContainer'>
        {{#movies}}
        <li>
            <label><img src="{{poster}}"  width=15% height=20%></label>
            <form method = 'POST' action = '/movies/delete-movie'>           
                <input type = "hidden" value = {{movieId}} name = "movieId" />
                <button>Delete</button>
            </form>
        </li>
        {{/movies}}

        {{^movies}}
            <b><h1 class='welcome'>There are no more movies!</h1></b>
        {{/movies}}
        
    </body>
</html>